---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Where things sometimes happen" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  	@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;600&family=Source+Code+Pro&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

	* {
		min-width: 0;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color: inherit;
		text-decoration: inherit;
	}

	:root {
		--bg: 5, 26, 19;
		--bg-dark: 4, 20, 15;

		--text-primary: white;

		--accent: 96, 154, 96;
		--accent-light: 176, 229, 176;
		--accent-dark: 21, 110, 81;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent-dark)),
			rgb(var(--accent)) 30%,
			rgb(var(--accent-light)) 60%
		);
		
		--navbar-size: 60px;
		--main-width: 800px;
	}

	html {
		font-family: 'Tinos', 'Georgia', 'Times', serif;
		background: rgb(var(--bg));
	}

	code {
		font-family: 'Source Code Pro', 'Courier New', monospace;
	}
</style>
